body {
    color: white;
    background-color:#181818;
    font-size: 48pt;
    font-family: sans-serif;
}
#prompt {
    width: 100%;
    text-align: center;
}
#flags {
    margin-top: 30px;
}
.flag-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.stats-table {
    margin-left: auto;
    margin-right: auto;
}
.stats-table th {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24pt;
}
.stats-table td {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 48pt;
}
#feedbackContainer  {
    margin-top: 1em;
}
.wrapper {
    text-align: center;
}
#infoBombIndicator {
    margin-top: 1em;
}
#infoBombIndicator img {
    cursor: pointer;
}
.Clickable {
    cursor: pointer;
}
.choice-link img {
    padding: 0px;
    margin: 10px;
    min-width: 512px;
    height: 269px;
    margin: 8px;
}
.flag-image {
    padding: 0px;
    margin: 10px;
    min-width: 512px;
    height: 269px;
    margin: 8px;
}