body {
    background-color: #dddddd;
}
#prompt {
    width: 100%;
    text-align: center;
}
#flags {
	margin-top: 30px;
}
.flagTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.statsTable {
	margin-left: auto;
	margin-right: auto;
}
.statsTable  td {
	padding-right: 20px;
}
#feedback  {
	margin-top: 30px;
    font-size: 72pt;
}
#container {
    text-align: center;
}
#infoBombIndicator {
}
#infoBombIndicator  img {
	cursor: pointer;
}
.Clickable {
	cursor: pointer;
}
.choice_link img {
	padding: 10px;
	margin: 10px;
}