body {
    color: white;
    background-color:#181818;
    font-size: 48pt;
    font-family: sans-serif;
    text-align: center;
}

/* no underline */
a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


#prompt {
    width: 100%;
    text-align: center;
}
#flags {
    margin-top: 30px;
}
.flag-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.stats-table {
    margin-left: auto;
    margin-right: auto;
}
.stats-table th {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24pt;
}
.stats-table td {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 48pt;
}
#feedbackContainer  {
    margin-top: 1em;
}
.wrapper {
    text-align: center;
    margin-bottom: 1em;
}
#useInfoBombSpan {
    font-size: 18pt;
}
#useInfoBombImg {
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.non-clickable {
    cursor: not-allowed;
}
.choice-link img {
    padding: 0px;
    margin: 10px;
    min-width: 512px;
    height: 269px;
    margin: 8px;
}
.flag-image {
    padding: 0px;
    margin: 10px;
    min-width: 512px;
    height: 269px;
    margin: 8px;
}
footer {
    margin-top: 1em;
    font-size: small;
}
.color-swatches {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.color-swatch-container {
    margin-top: 1em;
    margin-bottom: 0;
}
.color-swatch {
    width: 64px;
    height: 64px;
    margin: 2px;
    float: left;
}
.color-swatch-label {
    background-color: white;
    font-size: small;
    font-family: monospace;
    color: black;
    background-color: gray;
}
.cluster {
    margin-top: 3em;
    margin-bottom: 3em;
}
.inner-swatches {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.hcentered {
    display: flex;
    justify-content: center;
}
@keyframes blinker {
  0% {
    opacity: 1; /* Fully visible at the start */
  }
  50% {
    opacity: 0; /* Fully invisible halfway through */
  }
  100% {
    opacity: 1; /* Fully visible again at the end */
  }
}
.blink {
    animation: blinker 1s linear infinite
}
.warning {
    color: red;
    font-weight: bold;
}
